# setup
pem_path: "~/.ssh/my-key.pem"
# app
app_path: "/var/www/wcdemo/perfdemo"
# settings.py
app_url: "{{ hostvars[groups['loadbalancer'][0]]['ansible_eth0']['ipv4']['address'] }}"
app_port: "80"
django_secret: "my_django_secret"
# settings.py - db
db_name: "wcdemo"
db_user: "wcdemo_user"
db_pass: "top_secret"
db_host: "{{ hostvars[groups['database'][0]]['ansible_eth0']['ipv4']['address'] }}"
db_port: "5432"
# settings.py - trace
trace_service: "wcdemo"
trace_db_prefix: "wdemo"
trace_tag: "wcd"
trace_enabled: True
trace_hostname: "localhost"
trace_port: 8126
# settings.py - redis
redis_url: "redis://{{ hostvars[groups['redis'][0]]['ansible_eth0']['ipv4']['address'] }}"
# postgres
agent_user: "datadog"
agent_pass: "top_secret"
# datadog
datadog_api: "<datadog-api-key>"
